@extends('admin.main')

@section('breadcrumb-links')

{% if model.parent != false %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ model.parent.plural }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ blade_url(model.parent) }}">{{ i('list') }} List</a></li>
            <li><a href="{{ blade_url(model.parent, 'create') }}">{{ i('+') }} Add</a></li>
        </ul>
    </li>
{% endif %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ model.plural }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ blade_url(model) }}">{{ i('list') }} List</a></li>
        <li><a href="{{ blade_url(model, 'create') }}">{{ i('+') }} Add</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ model | blade }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
            {% for relation in model.hasOne %}
                <li><a href="{{ blade_url(relation.child) }}">{{ i('list') }} {{ relation.plural }}</a></li>
            {% endfor %}
            {% for relation in model.hasMany %}
                <li><a href="{{ blade_url(relation.child) }}">{{ i('list') }} {{ relation.plural }}</a></li>
            {% endfor %}
            {% for relation in model.belongsToMany %}
                <li><a href="{{ blade_url(relation.parent) }}">{{ i('list') }} {{ relation.plural }}</a></li>
            {% endfor %}
            {% for relation in model.belongsTo %}
                <li><a href="{{ blade_url(relation.parent, 'show') }}">{{ i('show') }} {{ relation.parent }}</a></li>
            {% endfor %}
        <li class="divider"></li>
        <li><a onclick="document.getElementById('{{ model.route }}-{{ model | blade }}').submit();",
            href="#">{{ i('destroy') }} Delete</a></li>
        <form
                method="POST"
                action="{{ blade_url(model, 'destroy') }}"
                accept-charset="UTF-8"
                style="display: none;"
                id="{{ model.route }}-{{ model | blade }}">
            <input name="_method" type="hidden" value="DELETE">
            {{ '{{ Form::token() }}' }}
        </form>
    </ul>
</li>
<li class="no-crumb pull-right">&nbsp;</li>
<li class="no-crumb pull-right"><form
        method="PUT"
        action="{{ blade_url(model, 'update') }}"
        accept-charset="UTF-8"
        style="dzisplay: none;"
        id="update-{{ model.route }}-{{ model | blade }}"><button
            class="btn btn-default btn-xs"
            type="submit"
            form="update-{{ model.route }}-{{ model | blade }}"
            name="_task[copy]"
            value="save"><i
                class="fa fa-pencil-square-o"></i><span class="hidden-xs"> copy</span></button>
    {{ '{{ Form::token() }}' }}
</form></li>
<li class="no-crumb pull-right">&nbsp;</li>
<li class="no-crumb pull-right"><a class="btn btn-default btn-xs"
                                   href="{{ blade_url(model, 'edit') }}">{{ i('edit') }}<span
                class="hidden-xs"> edit</span></a></li>
<li class="no-crumb">&nbsp;</li>
@stop

@section('content')

<dl class="dl-horizontal">

    {% for field in model.fields %}
    {% if field.sensitive == false %}
        {% filter inline %}
        <dt>{{ field.title }}</dt>
        {% endfilter %}

        {% filter inline %}
        <dd>
            {% if field.parent != false %}
                {{ '{{ $%s->%s }}' | format(model.variable, field.parent.variable) }}
            {% elseif field.type == 'datetime' %}
                {{ "{{ $%s->%s->format('n/j/y g:i a') }}" | format(model.variable, field.name) }}
            {% elseif field.type == 'text' %}
                {{ '{{ nl2br($%s->%s) }}' | format(model.variable, field) }}
            {% else %}
                {{ '{{ $%s->%s }}' | format(model.variable, field) }}
            {% endif %}
        </dd>
        {% endfilter %}

    {% endif %}
    {% endfor %}

</dl>

@endsection